{% extends  "layout.html" %}
{% block title %}
Home
{% endblock %}
{% block body %}
	
		<form class="signup" action="{{ url_for('register') }}" method="post" >
		<div>
		<h1>Create an Account</h1>
		</div>
			<div class="form-group" >
				<lebel>E-mail</lebel>
				<input class="form-control" type="email" name="email" placeholder="you@example.com"  required >
			</div>
			<div class="form-group">
				<lebel>Password</lebel>
				<input class="form-control" type="password" name="password" placeholder="Password" minlength="8"  pattern =^(?=.*?[A-Z])(?=.*?[a-z])(?=.*?[0-9])(?=.*?[#?!@$%^&*-]).{8,}$ required>
			<small class="text-muted" >Your password must be 8-20 characters long, contain letters, numbers and special characters, and must not contain spaces or emoji.</small>
			</div>
			<div class="form-group">
				<lebel>Re-enter Password</lebel>
				<input class="form-control" type="password" name="re_password" placeholder="Re-enter Password" minlength="8"  pattern =^(?=.*?[A-Z])(?=.*?[a-z])(?=.*?[0-9])(?=.*?[#?!@$%^&*-]).{8,}$ required>
			</div>
			<div class="form-group">
				<button class="btn btn-primary" >Sign Up</button>
			</div>
			{% if message %}
			<div>
				<lebel class="errormessage" >{{ message }}</lebel>
				</div>
			{% endif %}
			<footer>
		Already Registered? <a href="{{ url_for('login') }}" >login here.</a>
		</footer>
		</form>
		
{% endblock %}
